@model SellBicycleWebsite.Models.Loai_SP

@{
    ViewBag.Title = "SuaLoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/Admin_layout.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <h2>Loại sản phẩm</h2>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.maLoai)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.tenLoai, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.tenLoai, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.tenLoai, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "LoaiSanPham")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
