
@{
    ViewBag.Title = "ThongTinDatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SellBicycleWebsite.Models;
@model List<GioHang>;

<h2>Nhập thông tin đặt hàng</h2>
<br/>
<br />
 @using (Html.BeginForm("DatHang", "GioHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header add-modal">
            <h5 class="modal-title" id="exampleModalLabel">Thông tin người nhận</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">


            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Họ tên người nhận</label>
                        <div class="input-group">

                            <input type="text" name="ten_nguoinhan" placeholder="Tên người nhận" required="required" class="form-control">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">SĐT người nhận</label>
                        <div class="input-group">

                            <input type="text" name="sdt_nguoinhan" placeholder="SĐT" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Địa chỉ giao hàng</label>
                        <div class="input-group">

                            <input type="text" name="diachi" placeholder="địa chỉ đến số nhà" required="required" class="form-control">
                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href = '@Url.Action("Index","Home")'">Hủy</button>
            <button type="submit" name="submit" class="btn btn-primary" data-target="#successModal">
                Xác nhận
            </button>
        </div>
    </div>

}
<br/>
<br/>
<strong><h4 class=""> Thông tin đơn hàng <i class="fa fa-shopping-cart"></i></h4></strong>
<br />
<table class="table-hover table-bordered divGioHang">
    <tr style="">
        <th> Mã SP</th>

        <th> Tên SP</th>

        <th> Ảnh bìa</th>

        <th> Đơn giá</th>

        <th> Khuyến mãi</th>

        <th> Số lượng</th>

        <th> Thành tiền</th>
    </tr>



    @foreach (var item in Model)
    {
        <tr class="font-italic">
            <td> @item.iMasp</td>

            <td> @item.sTensp</td>

            <td> <img src="@Url.Content("~/Images/" +item.sAnhBia)" width="40" height="30" /></td>

            <td>  @String.Format("{0:0,0}", item.dDonGia) VNĐ</td>

            <td>  @item.km %</td>

            <td> @item.iSoLuong</td>

            <td>   @String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>


        </tr>
    }
    
</table>
<h4>Tổng tiền: @ViewBag.TongTien</h4>

